.wrap-resp {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg) scale(0.8);
    }
    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg) scale(0.8);
    }
}
